body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 30px;
    border: solid transparent;
    border-radius: 30px;
    background: #fff;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgb(113, 97, 214);
}
h2 { 
    font-size: 30px;
    font-weight: bold;
    color: rgb(16, 6, 45);

}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 30px;
    max-width: 600px;
    min-width: 300px;
    background: #eae1dd;
}
